.container{
    border: black solid 2px;
    display: flex;
    padding: 30px;
    background-color: purple;
    height: 400px;
    width: 1000px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: space-between;
    row-gap: 100px;
    column-gap: 100px;


}
.item{

    border: 1px solid blue;
    background-color: yellow;
    height: 100px;
    width: 100px;
    flex-grow: 1;
    flex-shrink: 3;

}
/* .item2{
    background-color: black;
} */