.box{
    align-items: center;
    height: 120px;
    width: 50px;
    padding: 20px;
}
div{
        border: solid black 2px;
        padding: 20px;
        display: inline-block;
}
.box1{
    border-color: red;
    background-color: red;
}
.container{
    align-items: center;
}